{% extends "layout.html" %}

{% block content %} 
    <section class="main" >
    
        <section class="articles">
                <article>
                    <h2>Descripción  </h2>
                    <p>El capibara, chigüire o carpincho  es una especie de 
                        roedor de la familia de los cávidos, nativa de 
                        Sudamérica. Es el roedor viviente de mayor tamaño 
                        y peso del mundo. El otro miembro existente de ese 
                        género es el capibara menor. Sus parientes cercanos 
                        incluyen a los conejillos de indias y los mocós, y 
                        está relacionado más lejanamente con el agutí, la 
                        chinchilla y el coipo. Habita humedales y bosques 
                        densos y vive cerca de cuerpos de agua. Es una 
                        especie muy social y se puede encontrar en grupos 
                        de hasta cien individuos, pero por lo general vive 
                        en grupos de diez a veinte individuos.</p>
                        <img src="../static/imagenes/i1.jpg">
                </article>
                <article>
                    <h2>Cuidados</h2>
                    <p>Es considerado un herbívoro selectivo que se alimenta 
                        de plantas con alto contenido de nitrógeno, 
                        principalmente gramíneas, ciperáceas y, en menor 
                        proporción, de otras hierbas y plantas acuáticas.</p>
                    <p>Necesitan grandes zonas de hierba de topografía variable 
                        para pastar, varios refugios para su privacidad y descanso, 
                        y necesitan estar cerca de una gran masa de agua. Prefieren 
                        un rango de temperaturas de clima templado, entre 15 °C y 30 °C.</p>
                        <img src="../static/imagenes/i2.jpg">
                </article>
        </section>  
    </section> 
    <aside>
        <h3>Acerca de el:</h3>
        <p>Longitud: 1.1 – 1.3 m (Adulto)</p>
        <p>Estado de conservación: Preocupación menor</p>
        <p>Masa Corporal: 35 – 66 kg (Adulto)</p>
        <p>Nombre científico: Hydrochoerus hydrochaeris</p>
        <p>Periodo de gestación: 130 – 150 días</p>
        <p>Nivel trófico: Herbívoro Enciclopedia de la vida</p>
        <p>Altura: 50 – 62 cm (Adulto, A la cruz)</p>
          
    </aside>
    {% endblock %}