{% extends "layout.html" %}

{% block content %} 
    <section class="main" >
    
        <section class="articles">
                <article>
                    <h2>Descripción  </h2>
                    <p>Es una especie arborícola, que baja al suelo únicamente para buscar alimento, trasladarse de un 
                        árbol a otro más distante o para beber. La ardilla es muy ágil, trepa fácilmente y a gran 
                        velocidad a los árboles, dando grandes saltos de árbol en árbol. Posee además una vista 
                        excepcional y sabe también bucear.</p>
                        <img src="../static/imagenes/a1.jpg">
                </article>
                <article>
                    <h2>Cuidados</h2>
                    <p>La ardilla es un animal omnívoro por lo que necesitará tener semillas y frutos secos a su alcance 
                        para que coma cuando necesite. Para completar su dieta debes darle verduras frescas unas tres 
                        veces por semana y también insectos de forma regular para un mayor aporte de proteínas. Puedes 
                        darle de comer gusanos o grillos.</p>
                        <img src="../static/imagenes/a2.jpg">
                </article>
        </section>  
    </section> 
    <aside>
        <h3>Acerca de el:</h3>
        <p>Masa Corporal: Ardilla roja: 330g.</p>
        <p>Longitud: </p>
        <p>Ardilla roja: 21 cm</p>
        <p>Sciurus carolinensis: 23 – 30 cm</p>
        <p>Periodo de gestación: Ardilla roja: 38 días</p>
        <p>Velocidad: Sciurus carolinensis: 32 km/h</p>
          
    </aside>
    {% endblock %}