{% extends "layout.html" %}

{% block content %}    
<section class="main" >
    
<section class="articles">
        <article>
            <h2>Descripción  </h2>
            <p>Somos una tienda que vende animales, por el momento
                solo tenemos tres tipos de animales los cuales deben tener
                un cuidado especial.         
            </p>
            <p>1.Carpincho</p>
            <p>2.Erizo</p>
            <p>3.Ardilla</p>
        </article>
        <article>
            <center><img src="../static/imagenes/a.jpg"></center>
        </article>
</section>  
</section> 
<aside>
    <h3> Avisos:</h3>
    <p> La mayoria de los animales mostrados tienen un cuidado 
        especial por lo que no se deben tratar como una mascota 
        cualquiera.
    </p>
    <p>Para alguno de ellos se necesita un permiso especial el cual 
        se dara despues de ver si tienes la capacidad y los recursos
        para cuidar de dicho animal.
    </p>
</aside>
{% endblock %}